<!DOCTYPE html>
<html ng-app="AngularTemplate" ng-controller="LandingPageController">
<head>
    <title ng-bind="models.Title"></title>
</head>
<body>

    <input type="text" ng-model="models.helloAngular" />
    <h1>{{models.helloAngular}}</h1>

    <ul>
        <li><a href="/#/routeTemplate">Route Template Index</a></li>
        <li><a href="/#/routeOne">Route Template One</a></li>
    </ul>

    <div ng-view></div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
    @Scripts.Render("~/bundles/AngularTemplate")
</body>
</html>